:root {
  --color-yellow: #fbc400;
  --color-blue: #69c8f2;
  --color-red: #ff7272;
  --color-grey: #aaa;
  --color-green: #b0d840;
  --section-width: 80%;
  --ball-size: 2.5em;
}

.ball-color-yellow {
  background-color: var(--color-yellow);
}
.ball-color-blue {
  background-color: var(--color-blue);
}
.ball-color-red {
  background-color: var(--color-red);
}
.ball-color-grey {
  background-color: var(--color-grey);
}
.ball-color-green {
  background-color: var(--color-green);
}

.btn {
  outline: none !important;
  box-shadow: none !important;
}

.section {
  width: var(--section-width);
  margin: 0 auto;
  text-align: center;
}
.section .ball {
  display: inline-block;
  width: var(--ball-size);
  height: var(--ball-size);
  border-radius: calc(var(--ball-size) / 2);
  font-weight: bold;
  color: #fff;
}

.header > .row1 label {
  font-weight: bold;
  line-height: 2em;
}

.hidden {
  display: none;
}
